*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.carousel-item{
    /* width: 360px; */
    height: 340px;
    margin: auto;
    /* border: 2px solid black; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .caro img{
    height: 100%;
} */